<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mobile List</title>
</head>
<body>
<h1>Mobile List</h1>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="mobile : ${mobileList}">
            <td th:text="${mobile.id}"></td>
            <td th:text="${mobile.name}"></td>
            <td th:text="${mobile.brand}"></td>
            <td th:text="${mobile.price}"></td>
            <td>
                <a th:href="@{/update/{id}(id=${mobile.id})}">Update</a>
                <a th:href="@{/delete/{id}(id=${mobile.id})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>