<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>Mobile by Type</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mobile : ${byType}">
                <td th:text="${mobile[0]}"></td>
                <td th:text="${mobile[1]}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>